<% @form_defaults = {input_html: {autocomplete: :off}} %>
<% @form_defaults[:disabled] = (action_name == "show") || (@wage_rate.respond_to?(:current_state) && @wage_rate.current_state.meta[:disabled]) %>
<div data-widget-editbutton="false" id="power-forms-grid" class="powerwidget cold-grey" role="widget">
	<div class="inner-spacer" role="content">

		<%= simple_form_for(["settings", @wage_rate], html: {class: 'form-horizontal'}, defaults: @form_defaults) do |f| %>
	    	<% params[:q].each do |k,v| %>
		        <%= hidden_field_tag "q[#{k}]", v %>
		    <% end unless params[:q].blank? %>
		    <%= hidden_field_tag(:page, params[:page]) unless params[:page].blank? %>
		    
	        <%= render partial: "/form_actions_top", locals: {
	            resource_class: WageRate, resource: @wage_rate, f: f,
	            resources_url: settings_wage_rates_path(q: params[:q], page: params[:page]),
	            resource_url: @wage_rate.new_record? ? nil : settings_wage_rate_path(@wage_rate, q: params[:q], page: params[:page]),
	            edit_resource_url: @wage_rate.new_record? ? nil : edit_settings_wage_rate_path(@wage_rate, q: params[:q], page: params[:page])
	        } unless params[:modal] %>

		  	<fieldset>

		        <%= f.association :sub_budget_type, collection: (SubBudgetType.all.select{|m| m.workflow_state == "enabled"} + (f.object.sub_budget_type.nil? ? [] : [f.object.sub_budget_type])).uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s_long, input_html: {data: {placeholder: t(:choose)}} %>
		        <%= render partial: "/settings/sub_budget_types/chosen_select", locals: {object_name: :wage_rate, no_create: true} %>
	        	<%= f.input :no %>
	        	<%= f.input :amount %>
	            
		  		<div class="col-md-6 col-md-offset-4">
			        <%= render partial: "/form_actions_bottom", locals: {
			            resource_class: WageRate, resource: @wage_rate, f: f,
			            resources_url: settings_wage_rates_path(q: params[:q], page: params[:page]),
			            resource_url: @wage_rate.new_record? ? nil : settings_wage_rate_path(@wage_rate, q: params[:q], page: params[:page]),
			            edit_resource_url: @wage_rate.new_record? ? nil : edit_settings_wage_rate_path(@wage_rate, q: params[:q], page: params[:page])
			        } %>
		        </div>
		  	</fieldset>
		<% end %>
  	</div>
</div>		
